.movie-page {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    background-color: rgb(52, 60, 68);
  }
  
  .tagline {
    font-style: italic;
    color: #b4aeae;
    
  }
  
  .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    }
  
  .info h3 {
    margin-right: 10px;
    display: flex;
  }
  
  .info p {
    margin: 0;
  }
  
  .description {

    margin-top: 20px;
  }
  
  /* Estilos para ícones */
  .info svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }