#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;


}

#navbar h2 a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#navbar form{
    display: flex;
    gap: .5rem;
}

#navbar input{
    padding: .2rem .8rem;
    border-radius: 4px;

}

#navbar form button{
    background-color: #0082fc;
    border: 2em #0082fc;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}
#navbar form button:hover{
    background-color: transparent;
    color: #0082fc;
}
